<!DOCTYPE HTML>
<html>
<head>
    <title>VotingApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="width: 100%; height: 55px;font-size: 15pt;background-color: #339999; text-align: center">
    	<a style="color: white; margin:5%" href="/selectvoting">ADD CANDIDATES</a>
    	<a style="color: white; margin:5%" href="/newvoting">ADD VOTING</a>
    	<a style="color: white; margin:5%" href="/">HOME</a>
    	<form action="/logout" method="post">
    		<input type="submit" value="Sign Out"/>
    		<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    	</form>
	</div>
    <div style="width: 100%; font-size: 15pt; text-align: center; margin-top: 1%">
    	List of Registrated Users
    </div>
    {{#userList}}
	    <div style="width: 100%; font-size: 15pt; text-align: center; margin-top: 1%">
	    	<b>{{id}}</b>
	    	<span>{{username}}</span>
	    	<i>{{role}}</i>
	    </div>
	{{/userList}}
</body>
</html>